

/*menu*/
.navbar {
    font-size: 12px;
}
.dropdown-menu {
    font-size: 12px;
}
.nav-link {
    color: #afafaf;
}

.navbar-brand {
    width: 60px;
    top: -32px;
}
.navbar-brand-container {
    width: 100px;
}
/*End menu*/

/*Header*/

.main-header {
    height: 100%;
    min-height: 100vh;
    background: url("./images/compass9.png") no-repeat fixed center;
    background-size: cover;
    position: relative;
}

.main-header:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(1,1,1,0.2);
}

.header-container {
    height: 100%;
    position: relative;
    z-index: 1;
}

.site-title {
    color: #b9b9b9;
}

/*End header*/

/*text header*/
.super-bold {
    font-weight: bolder;
}

.light-text {
    color: #aba7a7;
    margin-left: 0%;
    opacity: 0;
    white-space: nowrap;
    animation: slideLeft 3s ease-out forwards;
}

@keyframes slideLeft {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
.description-list {
    color: #aba7a7;
    white-space: nowrap; /* запрет переноса текста на новую строку */
    transform: translateX(1000px);
    animation: slide-in 3s forwards;
    opacity: 0;
}

@keyframes slide-in {
    100% {
        transform: translateX(0); /* перемещение текста на 100% влево */
        opacity: 1;
    }
}

.gradient {
    background: linear-gradient(135deg, #f953c6, #9b36c8, #3b1dc3, #1d60c3, #1dc399, #1dc362, #c31d1d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: normal;
    animation: blink 3s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .super-bold {
        font-size: 58px;
        text-align: center;
    }
    .light-text {
        font-size: 10px;
    }
    .gradient {
        font-size: 20px;
        text-align: center;
    }
    .description-list {
        font-size: 10px;
    }
}

@media screen and (min-width: 769px) {
    .super-bold {
        font-size: 90px;
    }
    .light-text {
        font-size: 15px;
    }
    .gradient {
        font-size: 25px;
        text-align: center;
    }
    .description-list {
        font-size: 15px;
    }
}
/*End text header*/

/** Card */
.card-text {
    position: relative;
    max-height: 300px !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.show-all {
    display: none;
}
.show-all.show {
    display: block;
}

.card-text-overflow:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-image: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(252,252,252,1) 0%, rgba(255,255,255,0) 100%);
}

.card-text.show-all {
    height: auto;
    overflow: visible;
}

.card-text.show-all:before {
    display: none;
    overflow: visible;
}
.modal-body .card-text-modal:before {
    display: none !important;
}

.modal-footer {
    display: none;
}
/** End Card */

/** Buttons/Links */

.button-container {
    flex-wrap: wrap;
}

.btn-header {
    flex: 1 1 50%;
    width: 30%;
}
@media only screen and (max-width: 767px) {
    .button-container {
        flex-wrap: wrap;
    }
    .btn-header {
        flex-basis: calc(50% - 10px);
        margin: 5px;
        width: 120px;
    }
}
@media only screen and (min-width: 768px) {
    .button-container {
        flex-wrap: nowrap;
    }
    .btn-header {
        flex: 1 1 auto;
        width: auto;
    }
}
.btn-primary {
    color: #3b0764;
    background-color: #3b0764 !important;
    border-color: #3b0764 !important;
}
.btn-primary:hover {
    background-color: #581c87 !important;
    border-color: #581c87 !important;
}
.link-primary {
    color: #3b0764;
}
.link-primary:hover {
    color: #581c87;
}
.btn-outline-primary {
    border-color: #9333ea !important;
    color: #9333ea !important;
}
.btn-outline-primary:hover {
    background-color: #9333ea !important;
    border-color: #9333ea !important;
    color: white !important;
}
.bg-success {
    // background-color: #530062 !important;
    background-color: #581c87 !important;
}
.btn-header-violet {
    border-color: #9333ea;
    color: #9333ea;
    font-size: 12px;
}
.btn-header-violet:hover {
    color: black;
    background-color: #9333ea;
    border-color: #9333ea;
}
/*.list-group-item-light {
    color: #4b4b4b;
    background-color: #f6f6f6;
    border-color: #dadada;
}*/

.author-image img {

}

.list-group-item {
    padding-top: 24px;
    padding-bottom: 24px;
}

.list-group-item_content {
    display: block;


}

.list-group-item-info {
    color: #3b0764;
    background-color: #faf5ff;
    border-color: #faf5ff;
}
.list-group-item-success {
    color: #e2e8f0;
    background-color: #3b0764;
    border-color: #3b0764;

}
.list-group-item-dark {
    color: #3b0764;
    background-color: #e9d5ff;
    border-color: #e9d5ff;
}
.list-group-item-danger {
    background-color: #7e22ce;
    // background-color: #530062;
    color: white;
    // border-color: #390042;
    border-color: #7e22ce;
}

.list-group-item-light {
    /*background-color: white;*/
    border-color: white;
    background: linear-gradient(135deg, #f953c6, #9b36c8, #3b1dc3, #1d60c3, #1dc399, #1dc362, #c31d1d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-weight: normal;

}

.list-group-item-lighter {
    color: #faf5ff;
    background-color: #3b0764;
    border-color: #3b0764;
}
.list-group-item-dark {
    background-color: #eab308;
    color: #422006;
    border-color: #eab308;
}

.list-group-item-darker {
    color: #fafaf9;
    background-color: #292524;
    border-color: #292524;


}

.btn {
    font-size: 14px;
}
.btn-footer {
    font-size: 12px;
    background-color: #530062;
    color: #aba7a7 !important;
    border-color: #530062;
}
.btn-footer:hover {
    background-color: #ab00c9 !important;
    border-color: #ab00c9 !important;
}
/** End Buttons/Links */

/** accordion */

/** End accordion */

/** carousel-content */

.carousel-content {
    padding: 0 40px; //*в зависимости от ширины экрана*//
    height: 400px;
    overflow-y: auto;

}

.arousel-control-next, .carousel-control-prev {
    width: 5%;
}

@media screen and (max-width: 480px) {
    .carousel-content {
        padding: 0px;
    }
}


@media screen and (max-width: 480px) {
    .carousel-content {
        padding: 0 40px;
    }
}
.carousel-item {
    height: 500px;
    overflow: auto;
}

.carousel-content {
    min-height: 300px;
    margin-bottom: 20px;
}

@media (max-width: 480px) { /* определяем максимальную ширину экрана для мобильных устройств */
    .carousel-item {
        /// padding: 0 20px 50px; //в зависимости от ширины экрана
    }
}

/** End carousel-content */

.bg-gray {
    // background: #212529;
    // color: white !important;
}
.cookie-popup {
    z-index: 2;
    font-size: 12px;
}

/** Cookie-popup */


.checked {
    background-color: #530062 !important;
    border-color: #530062 !important;
}
/** End Cookie-popup */

/** Privacy-popup */
.privacy {
    font-size: 12px;
}
/** End Privacy-popup */

/** footer */
@media (max-width: 480px) { /* определяем максимальную ширину экрана для мобильных устройств */
    footer {
        text-align: center;
    }
}

.footer-column {
    font-size: 12px;
}

.footer-hiders {
    font-size: 12px;
    margin-bottom: 15px;
    color: #aba7a7;
}

.copy {
    font-size: 12px;
    color: #aba7a7;
}
.footer-span:hover {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}
footer a {
    text-decoration: none;
}

.footer-address {
    pointer-events: none;
}
ul.social-icons a {
    color: #aba7a7;
    transition: opacity 0.3s ease;
}

ul.social-icons a:hover {
    opacity: 0.5;
    color: #aba7a7;
}
.social-icons li {
    margin-right: 10px;
}
.input-group {
    font-size: 12px;
    margin-bottom: 50px;
}
.form-control {
    font-size: 12px;
    background-color: #cccccc;
}

@media only screen and (min-width: 769px) {
    .container-footer {
        margin: 0 34px;
    }
}
@media only screen and (max-width: 768px) {
    .container-footer {
        margin: 0 24px;
    }
    .input-group {
        width: auto;
    }
}

.cookie-popup {
    background: transparent !important;
}
/** End footer */

